@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-label {
    margin-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-control {
    padding: 8px 15px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin-top: 4px;
  }

  .details p {
    line-height: 1.5;
    padding: 0px 15px;
    width: 70%;
  }

  .details h1 {
    text-align: center;
    color: #333;
    font-size: 60px;
    margin: 5px 0px;
  }

  .details h2 {
    text-align: center;
    margin: 5px 0px 20px 0px;
  }

  .carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 400px;
    margin-top: 130px;
  }

  .carousel > img {
    max-width: 50%;
    max-height: 500px;
  }

  .carousel-smaller {
    width: 40%;
  }

  .carousel-smaller > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
    border: 2px solid #333;
  }

  .carousel-smaller > img.active {
    border-color: #333;
    opacity: 0.6;
  }
  #modal {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal:empty {
    display: none;
  }

  #modal > div {
    background-color: white;
    max-width: 500px;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    background: #faeff0;
  }

  #modal .buttons button {
    display: inline-block;
    margin-right: 15px;
  }
  @media (max-width: 700px) {
    .carousel {
      margin-top: 100px;
      flex-direction: column;
    }
    .carousel-smaller {
      width: 90%;
    }
  }
}
